:root {
    --bg-color: #1a1a1a;
    --bg-color-transparent: #1a1a1a39; 
    --text-color: #eee;
    --light-gray: #a4a4a4e3;
    --light-gray-font: #bdbdbd;
    --header-text: #d2d2d2;
    --header-background: #8f8f8f;
    --toggle-bg: #fff;
    --toggle-btn: #111;
    --canvas-line-color-rgb: 255, 255, 255;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
  
.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.75;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;      
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1a1a1a; 
    border-bottom: 2px solid rgba(255, 255, 255, 0.252);
}
  
.navbar-brand {
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    gap: 0.3rem;
}
  
.navbar-brand span:first-child {
    color: #ffffff; 
}
  
.navbar-brand span:last-child {
    color: var(--light-gray-font); 
    font-weight:lighter;
}
  
.navbar-brand:hover {
    opacity: 0.7;
}
  
.navbar-links {
    display: flex;
    gap: 1.5rem;
}
  
.navbar-link {
    color: var(--light-gray-font); 
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 0.2rem; 
}
  
.navbar-link:hover {
  color: #ffffff;
  box-shadow: inset 0 -2px 0 0 rgb(0, 95, 146);
}
  
@media (max-width: 768px) {
    .navbar {
        padding: 1.3rem;
    }
  
    .navbar-links {
      gap: 1rem;
    }
} 

#app {
    position: relative;
    z-index: 1;
    min-height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
}
@media (max-width: 768px) {
    #app {
        margin-top: 2rem;
        padding: 1rem;
    }
}

/***************************************
 * Search Section Styles
 ***************************************/
header {
    text-align: center;
    margin-bottom: 1.5rem;
}
  
header .heading {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: var(--header-text);
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    header .heading {
        font-size: 2.1rem;
        letter-spacing: 0.1px;
    }
}
@media (max-width: 768px) {
    header .heading {
        font-size: 1.7rem;
    }
}

header .sub-header{
    color: var(--header-text);
    font-weight: 300;
    font-size: 1.3rem;
}
  
.search-section {
    width: clamp(300px, 70vw, 600px);
    text-align: center;
}

.companySearch-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

#company-input {
    flex: 1;          
    padding: 0.8rem 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}

#company-input::placeholder {
    color: var(--light-gray);  
    font-size: 1rem; 
}

@media (max-width: 1024px) {
    #company-input::placeholder{
        font-size: 0.8rem;
    }
}

.plus-button {
    width: 45px;
    height: 46px;
    position: relative;
    right: 0px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    background: #a4a4a4;
    border-radius: 1px;
    cursor: pointer;
    border: 0px;
}
  
.plus-button:before,
.plus-button:after {
    content: '';
    width: 55%;
    height: 2px;
    background: #050505;
    position: absolute;
    top: 48%;
    left: 22%;
    transition: transform 0.3s ease-out;
}

.plus-button:after {
    transform: rotate(90deg);
}

.plus-button.active:before {
    transform: rotate(180deg);
}
  
.plus-button.active:after {
    transform: rotate(270deg);
}

@keyframes button-rotate-before {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
  
@keyframes button-rotate-after {
    0% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(90deg);
    }
}
  
.plus-button.animate:before {
    animation: button-rotate-before 0.6s ease-out;
}
  
.plus-button.animate:after {
    animation: button-rotate-after 0.6s ease-out;
}


.plus-button:disabled {
    background: #787878;
    cursor: not-allowed;
}

.plus-button:disabled::before,
.plus-button:disabled::after {
    background: #4d4d4d;     
}

#suggestions {
    display: none;           
    position: absolute;      
    top: 100%;             
    left: 0;
    border: 1px solid #ccc;
    max-height: 180px;
    overflow-y: auto;
}
  
#suggestions.active {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 100%;
    z-index: 20;
}
  
.suggestion-item {
    padding: 8px;
    cursor: pointer;
    background: var(--bg-color);
}

.suggestion-item:hover {
    background-color: #9a9a9a;
    color: var(--bg-color);}

.suggestion-item.highlight {
    background-color: #9a9a9a;
    color: var(--bg-color);
}

.not-found {
    margin-top: 0.5rem;
    transition: all 0.3s ease; 
  }
  
.not-found span {
    display: none;
}
  
.not-found span.active {
    display: block;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}
  
@media (max-width: 768px) {
    .not-found span.active {
        font-size: 1rem;
    }
}

#tickers-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 1rem;
}
  
@media (max-width: 768px) {

    #tickers-container {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

.ticker-container {
    max-width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1.5px solid var(--header-background);
}

.ticker-container .text-section {
    width: 80px; 
    padding: 0 20px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1;
}
  
.ticker-container .close-button {
    width: 40px;
    height: 40px;
    background: var(--header-background);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}
  
.ticker-container .close-button:before,
.ticker-container .close-button:after {
    content: '';
    width: 55%;
    height: 2px;
    background: #050505;
    position: absolute;
    top: 48%;
    left: 22%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-out;
}
  
.ticker-container .close-button:after {
    transform: rotate(45deg);
}
  
.ticker-container .close-button:hover:before,
.ticker-container .close-button:hover:after {
    transform: rotate(180deg);
}
  
.get-report {
    width: 40%;
    opacity: 0;
    padding: 0.6rem 1.2rem;
    border: 2px solid var(--light-gray);
    background: none;
    color: var(--header-text);
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 1.5rem;
    transform: translateY(40px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
  
.get-report:not(:disabled) {
    opacity: 1;
    cursor: pointer;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .get-report {
        width: 50%;
        margin-top: 1rem;
    }
}

/***************************************
 * Loading Section Styles
 ***************************************/
.loading-section {
    text-align: center;
    margin-bottom: 2rem;
}
  
.loader-text{
    font-size: 1.3rem;
    font-weight: 400;
}

.loader-svg {
    height: 200px;
    margin-bottom: 1rem;
    color: #61c6fcbb
}

@media (max-width: 768px) {
    .loader-svg {
        height: 150px;
    }
}


/***************************************
 * Report Section Styles
 ***************************************/
.report-section {
    padding: 8rem 2rem;
    border: none;
    width: 100%;
    max-width: 700px;
    margin: 2rem auto;
    transition: opacity 0.6s ease-in-out, transform 0.4s ease-in-out;
}
  
.fade-in {
    animation: fadeIn 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.report-intro {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: var(--header-text);
  text-align: left;
  line-height: 1.6;
}

.ticker-report {
  background: var(--bg-color-transparent);
  border: 1px solid var(--light-gray);
  padding: 1.2rem;
  margin: 1rem 0;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out, background 0.3s ease;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.ticker-report:hover {
  background: var(--bg-color);
  transform: translateY(-4px);
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
}

.ticker-report h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.ticker-report p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 200;
  letter-spacing: 0.5px;
}  

.report-btn-container{
    display: flex;
    justify-content: center;
}

.stock-chart{
    height: 200px;
}

.chart-container{
    margin: 25px auto;
}

@media (max-width: 768px) {
    .report-section {
        padding: 4rem 1.5rem;
        max-width: 90%;
    }
    .report-intro {
        font-size: 1.1rem;
    }
    .ticker-report {
        padding: 1rem;
    }
    
    .ticker-report h3 {
        font-size: 1.1rem;
        letter-spacing: 0.5px;
    }
    
    .ticker-report p {
        font-size: 0.95rem;
        letter-spacing: 0.3px;
    }

}






/***************************************
* About Styles
***************************************/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; 
}

body {
    font-size: 1.1rem; 
}
  

.doc-layout {
    display: flex;
    margin-top: 4.5rem;
    min-height: 100vh;
}
  
 .doc-sidebar {
    width: 240px; 
    border-right: 2px solid rgba(255, 255, 255, 0.252);
    padding: 2rem 2rem;
    position: sticky;
    top: 4.5rem;
    height: calc(100vh - 4.5rem);
    overflow-y: auto;
}
  
.doc-sidebar ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.doc-sidebar li {
    margin-bottom: 1rem;
}
  
.doc-sidebar a, p > a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 0.2rem;
    display: inline-block;
    transition: color 0.2s ease, box-shadow 0.2s ease;
}
  
.doc-sidebar a:hover {
    color: var(--light-gray-font);
    box-shadow: inset 0 -2px 0 0 rgb(0, 95, 146);
}
  
.doc-content {
    padding: 2rem 3rem;
    color: var(--light-gray-font);
    max-width: 900px;
    margin: 0 auto;
}
  
.doc-section {
    margin-bottom: 2.5rem;
    border-left: 0 solid transparent;
    background-color: transparent;
    transition: border-left 0.8s ease;
}

.doc-section:target {
    border-left: 4px solid rgb(0, 95, 146);
    padding-left: 0.3rem;
}

.doc-section h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--header-text);
    font-weight: 400;
}
  
.doc-section p, .doc-section li {
    font-weight: 200;
    line-height: 1.6;
}

.doc-section strong{
    font-weight: 500;
}
  

  /***************************************
   * Responsiveness
   ***************************************/
  @media (max-width: 768px) {
    .doc-layout {
      flex-direction: column;
    }
  
    .doc-sidebar {
      width: 100%;
      height: auto;
      position: static;
      border-right: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.252);
    }
  
    .doc-sidebar ul {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      margin-bottom: 1rem;
    }
  
    .doc-sidebar li {
      margin-bottom: 0;
    }
  
    .doc-content {
      padding: 1.5rem;
    }
  
    .doc-section h2 {
      font-size: 1.4rem;
    }
  }
  

  